# EE Mapping Opportunities in the UK
### Adam Fletcher


## Cleanup of Data Dump from Companies House

A data dump from companies house can be found at:

http://download.companieshouse.gov.uk/en_output.html

A pdf explaining the columns of the data:

http://resources.companieshouse.gov.uk/toolsToHelp/pdf/freeDataProductDataset.pdf

In [7]:
import numpy as np
import pandas as pd

%cd ~/Downloads
CH_data_dump = pd.read_csv("BasicCompanyDataAsOneFile-2019-11-01.csv")

/Users/adam/Downloads

/Users/adam/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (41,42,43,44,45,46,47,48,49,50,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [46]:
CH_company_info = CH_data_dump[['CompanyName',
                                ' CompanyNumber',
                                'RegAddress.PostCode',
                                'IncorporationDate',
                                'Accounts.AccountCategory',              
                                'CompanyCategory',
                                'CompanyStatus',
                                'SICCode.SicText_1',
                                'SICCode.SicText_2',
                                'SICCode.SicText_3',
                                'SICCode.SicText_4',]]

## API to Global Data Info

**Todo:**

- Get an API key (and figure out its limits etc..)
- Loop over all the ACTIVE companies to get their financial data
    - OR split this into subsets and run it to avoid reaching the API limit
    - Need to figure out if a company doesn't have any info on the webtool how to handle errors
    
- Later: Speak to david cox and figure out his scoring algorithmn
- Later: Look at ML potential

In [50]:
CH_company_info.head()

,CompanyName,CompanyNumber,RegAddress.PostCode,IncorporationDate,Accounts.AccountCategory,CompanyCategory,CompanyStatus,SICCode.SicText_1,SICCode.SicText_2,SICCode.SicText_3,SICCode.SicText_4
0,! LTD,08209948,LS10 2RU,11/09/2012,DORMANT,Private Limited Company,Active,99999 - Dormant Company,NaN,NaN,NaN
1,! LTD,12289315,WC1N 3AX,30/10/2019,NO ACCOUNTS FILED,Private Limited Company,Active,64209 - Activities of other holding companies ...,NaN,NaN,NaN
2,!? LTD,11399177,SK6 3DY,05/06/2018,NO ACCOUNTS FILED,Private Limited Company,Active,47710 - Retail sale of clothing in specialised...,NaN,NaN,NaN
3,!BIG IMPACT GRAPHICS LIMITED,11743365,EC1V 9LT,28/12/2018,NO ACCOUNTS FILED,Private Limited Company,Active,18129 - Printing n.e.c.,59112 - Video production activities,63120 - Web portals,74201 - Portrait photographic activities
4,!NKED LTD,12234705,SW9 8QS,30/09/2019,NO ACCOUNTS FILED,Private Limited Company,Active,47710 - Retail sale of clothing in specialised...,NaN,NaN,NaN